.my-words-ct {
  margin: 20px 50px;
}

.profile {
  margin: 20px 50px;
  width: 100px;
  height: 100px;
}

.btn {
  margin-right: 20px;
  margin-bottom: 20px;
}

/* Table */
.ant-table-container {
  height: 450px;
}
